vti_encoding:SR|utf8-nl
vti_author:SR|Graeme-PC\\Graeme
vti_modifiedby:SR|Graeme-PC\\Graeme
vti_timelastmodified:TR|18 Sep 2013 19:28:32 -0000
vti_timecreated:TR|18 Sep 2013 19:26:59 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|section-02/section-02-examples/hello_with_time.php section-02/section-02-examples/hello_pretty.php
vti_nexttolasttimemodified:TR|18 Sep 2013 19:27:12 -0000
vti_cacheddtm:TX|18 Sep 2013 19:26:59 -0000
vti_filesize:IR|1343
